@import "../../styles/vars.scss";

.phones {

    &__list-item:not(:last-child) {
        padding-bottom: 10px;
    }

    &__list-item:first-child {
        display: none;
    }

    &__phone {
        color: $primaryColor;
        font-weight: 700;
        transition: color .2s ease;
    }

    &__phone:hover {
        color: $secondaryColor;
    }

}