@import "../../styles/vars.scss";

.tools {
    display: grid;
    grid-template-areas:
        'account lang'
        'favorites cart';
    gap: 15px;
    margin-bottom: 9px;

    .__account {
        grid-area: account;
    }

    .__lang {
        grid-area: lang;
    }

    .__favorites {
        grid-area: favorites;
    }

    .__cart {
        grid-area: cart;
    }

    &__icon {
        display: flex;
        align-items: self-end;
    
        &-img {
            width: 24px;
            fill: $primaryColor;
            transition: fill .2s ease;
        }
    
        &-text {
            color: $primaryColor;
            transition: color .2s ease;
        }
    
        &:hover &-text {
            color: $secondaryColor;
        }
    
        &:hover &-img {
            fill: $secondaryColor;
        }
    
        &-img-wrapper {
            position: relative;
            height: 24px;
            padding-right: 8px;
        }
    
        &-counter {
            position: absolute;
            right: 2px;
            bottom: -8px;
            border-radius: 50%;
            background-color: $secondaryColor;
            width: 18px;
            height: 18px;
            color: $iconTextColor;
            line-height: 18px;
            font-size: 12px;
            text-align: center;
        }
    }
}