@import "../../styles/vars.scss";

.phones {

    cursor: pointer;
    position: relative;
    display: flex;
    align-items: self-end;
    height: 24px;
    margin-bottom: 9px;

    &__img-wrapper {
        height: 24px;
        padding-right: 8px;
    }

    &__img {
        width: 24px;
        fill: $secondaryColor;
    }

    &__phone {
        color: $primaryColor;
        font-weight: 700;
        transition: color .2s ease;
    }

    &__phone--current {
        text-decoration: underline;
    }

    &__arrow {
        margin-bottom: -2px;
        width: 24px;
        fill: $secondaryColor;
    }

    &__list {
        background-color: $panelColor;
        padding: 5px 10px;
        position: absolute;
        z-index: 10;
        top: 24px;
        right: 0;
        box-shadow: 0 2px 3px 0 $shadowColor;
        display: none;
        width: 100%;
    }

    &__phone:hover {
        color: $secondaryColor;
    }

    &:hover &__list {
        display: block;
    }

    &__phone-wrapper:hover {
        height: 100px;
        margin-bottom: -84px;
    }

    &__phone-wrapper {
        position: relative;
    }

}