$fontFamily: "Roboto";
$fontWeight: 400;
$backgroundColor: #fff;
$iconTextColor: #000;
$iconColor: #fff;
$iconColorDisabled: #444;
$textColor: #757575;
$textColorDark: #444;
$textColorLight: #bbb;
$textColorBright: #fff;
$primaryColor: #014455;
$primaryColorDark: #252525;
$primaryColorActive: #06aabb;
$secondaryColor: #ffcc02;
$secondaryColorActive: #eebb00;
$panelColor: #f4f4f4;
$shadowColor: rgb(0 0 0 / 15%);